.home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;

    .title {
        font-size: 64px;
        color: @color-blue;
        margin-bottom: 100px;

        strong {
            font-size: 66px;

        }
    }

    .difficulty {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .difficulty-set {
        display: flex;
        align-items: center;
        margin-bottom: 40px;

        .display {
            font-size: 48px;
            color: @color-primary;
            width: 120px;
            text-align: center;
        }

        button {
            width: 50px;
            height: 50px;
            font-size: 20px;
            border-radius: 15px !important;
        }
    }

    .progress {
        margin-top: 60px;
        margin-bottom: 20px;
        font-size: 18px;
        color: @color-desc;
    }

    .start {
        font-weight: bold;
        width: 240px;
        height: 60px;
        font-size: 36px;
        border-radius: 30px;
        margin-bottom: 30px;
    }

    .footer {
        padding: 0 10px;
        width: 100%;
        position: absolute;
        bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: @color-desc;
        font-weight: normal;
    }
}