.game {
    .wh100();
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;

    .header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 20px 15px;
        border-radius: 5px 5px 10px 10px;
        background: #ffffff;
        box-shadow: 0 0 8px 0 #bbbbbb;
        margin-bottom: 40px;

        .center {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            width: 220px;

            .title {
                font-size: 22px;
                color: #141E31;
            }

            .info {
                margin-top: 10px;
                padding: 0 10px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;

                div {
                    display: flex;
                    align-items: center;
                }

                .time {
                    font-size: 22px;
                }

                .left-count {
                    font-size: 20px;
                }

                .info-desc {
                    margin-left: 5px;
                    font-size: 18px;
                    color: @color-desc;
                }
            }
        }



        .icon-back {
            cursor: pointer;
            transition: .2s;
            font-size: 46px;
            color: @color-primary;

            &:hover {
                font-size: 48px;
                color: tint(@color-primary, 20%);
            }
        }

        .btn-refresh {
            width: 50px;
            height: 50px;
            transition: .2s;
            font-size: 32px;
        }
    }



    .content {
        .wh100();
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .tile {
        position: relative;
        font-size: 20px;
        width: 46px;
        height: 46px;
        border: 1px solid #AAAAAA;
        box-shadow: 0 0 4px 0 #AAAAAA;
        background: #fff;
        line-height: 37px;
        border-radius: 4px;
        cursor: pointer;
        margin: 1px;
        transition: .2s;

        &::before {
            position: absolute;
            z-index: 1;
            background: tint(#FFB6C1, 70%);
            top: 0;
            left: 0;
            content: '';
            width: 100%;
            height: 37px;
            border-bottom: 1px solid #eeeeee;
            border-radius: 4px;
        }

        .text {
            display: block;
            z-index: 2;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        &.clickable {
            &:not(.disabled):hover {
                margin: 0;
                width: 49px;
                height: 49px;
                box-shadow: 0 0 10px 0 gray;

                &::before {
                    background: tint(#FFB6C1, 60%);
                    height: 39px;
                }
            }

            &.disabled {
                cursor: not-allowed;
            }

            .disabled-mask {
                z-index: 3;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: #bbbbbb;
                opacity: .5;
            }
        }
    }

    .pending-group {
        position: relative;
        margin: 20px auto 0 auto;

        .level {
            position: absolute;
            top: 0;
            left: 0;

            .tile {
                position: absolute;
            }
        }
    }

    .storage-group {
        display: flex;
        height: 49px;

        .storage-transition-enter-active {
            transform: translateY(30px);
            opacity: 0;
            transition: .2s ease;
        }

        .storage-transition-enter-to {
            transform: translateY(0);
            opacity: 1;
        }


        .storage-transition-exit-active {
            position: absolute;
            opacity: 0;
        }
    }

    .collect-group {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        position: relative;
        padding: 0 20px;
        width: calc(100% - 30px);
        box-shadow: 0 0 8px 0 #a0a0a0;
        background: #fff;
        border-radius: 30px;

        .tile-group {
            width: 350px;
            transition: .2s;

            .tile {
                margin: 2px;
                display: inline-block;
            }

            @keyframes changeOpacity {
                0% {
                    opacity: 0
                }

                100% {
                    opacity: 1;
                }
            }

            .collect-transition-enter-active {
                z-index: 201;
                animation: changeOpacity .1s;
            }

            .collect-transition-exit-active {
                position: absolute;
                transition: ease .2s;
                opacity: 0;
            }
        }
    }
}