.game {
    .wh100();
    max-width: 440px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 20px 20px 40px 20px;
        height: 42px;

        .icon-back {
            cursor: pointer;
            font-size: 40px;
            color: @color-primary;

            &:hover {
                font-size: 42px;
                color: tint(@color-primary, 20%);
            }
        }

        .icon-refresh {
            cursor: pointer;
            font-size: 30px;
            color: @color-warning;

            &:hover {
                font-size: 32px;
                color: tint(@color-warning, 20%);
            }
        }
    }

    .tile {
        position: relative;
        font-size: 18px;
        width: 36px;
        height: 36px;
        border: 1px solid #AAAAAA;
        box-shadow: 0 0 4px 0 #AAAAAA;
        background: #fff;
        text-align: center;
        line-height: 30px;
        border-radius: 4px;
        cursor: pointer;
        margin: 1px;
        transition: .2s;

        &::after {
            position: absolute;
            z-index: -2;
            background: tint(#FFB6C1, 80%);
            top: 0;
            left: 0;
            content: '';
            width: 100%;
            height: 29px;
            border-bottom: 1px solid #eeeeee;
            border-radius: 4px;
        }

        &.clickable {
            &:not(.disabled):hover {
                margin: 0;
                width: 37px;
                height: 37px;
                box-shadow: 0 0 10px 0 gray;
            }

            &.disabled {
                cursor: not-allowed;
            }

            .disabled-mask {
                z-index: -1;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: #bbbbbb;
                opacity: .5;
            }
        }
    }


    .tile-group {
        position: relative;
        height: 400px;
        width: 400px;
        margin: 0 auto;

        .level {
            position: absolute;
            top: 0;
            left: 0;

            .tile {
                position: absolute;
            }
        }
    }

    .place-group {}
}